modules:
  http_2xx:
    prober: http
    timeout: 5s
    http:
      preferred_ip_protocol: ip4
      valid_http_versions:
      - HTTP/1.1
      - HTTP/2.0
      follow_redirects: true
      fail_if_ssl: false
      fail_if_not_ssl: false
  http_2xx_insecure:
    prober: http
    timeout: 5s
    http:
      preferred_ip_protocol: ip4
      valid_http_versions: &id001
      - HTTP/1.1
      - HTTP/2.0
      follow_redirects: true
      fail_if_ssl: false
      fail_if_not_ssl: false
      tls_config:
        insecure_skip_verify: true
  http_2xx_allow_401_403:
    prober: http
    timeout: 5s
    http:
      preferred_ip_protocol: ip4
      valid_http_versions: *id001
      follow_redirects: true
      valid_status_codes:
      - 200
      - 401
      - 403
